################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DB/AdventureWorks/AdventureWorks/bin/Debug
/DB/AdventureWorks/AdventureWorks/Import Schema Logs
/DB/AdventureWorks/AdventureWorks/obj/Debug
/DB/AdventureWorks/AdventureWorks/AdventureWorks.sqlproj.user
/DB/AdventureWorks/AdventureWorks/AdventureWorks.jfm
/DB/AdventureWorks/.vs/AdventureWorks/FileContentIndex
/DB/AdventureWorks/.vs/AdventureWorks/v17
